services:
  consumer-connector:
    image: ${CONNECTOR_IMAGE:-ghcr.io/dataspace-rs/connector:0.15.0}
    ports:
      - "19191:9191" # connector default
      - "19192:9192" # connector control
      - "19193:9193" # connector management
      - "19194:9194" # connector protocol
      - "19291:9291" # data-plane public
      - "1045:1044" # data-plane public

    environment:
      EDC_VAULT: /config/vault.properties
      EDC_KEYSTORE: /config/vault-keys.p12
      EDC_KEYSTORE_PASSWORD: 123456
      EDC_FS_CONFIG: /config/configuration.properties
    volumes:
      - ./conf/consumer-connector.config:/config
    extra_hosts:
      - "host.docker.internal:host-gateway"

  provider-connector:
    image: ${CONNECTOR_IMAGE:-ghcr.io/dataspace-rs/connector:0.15.0}
    ports:
      - "29191:9191" # connector default
      - "29192:9192" # connector control
      - "29193:9193" # connector management
      - "29194:9194" # connector protocol
      - "29291:9291" # data-plane public
      - "1044:1044" # data-plane public
    environment:
      EDC_VAULT: /config/vault.properties
      EDC_KEYSTORE: /config/vault-keys.p12
      EDC_KEYSTORE_PASSWORD: 123456
      EDC_FS_CONFIG: /config/configuration.properties
    volumes:
      - ./conf/provider-connector.config:/config
    extra_hosts:
      - "host.docker.internal:host-gateway"

  virtual-connector:
    image: ${VIRTUAL_CONNECTOR_IMAGE:-ghcr.io/dataspace-rs/virtual-connector:latest}
    ports:
      - "39193:8081" # connector management
      - "1046:1044" # data-plane public
    environment:
      EDC_IAM_OAUTH2_ISSUER: "http://localhost:8080/realms/edcv"
      EDC_IAM_OAUTH2_JWKS_URL: "http://keycloak:8080/realms/edcv/protocol/openid-connect/certs"
      EDC_POLICY_VALIDATION_ENABLED: "false"
      EDC_DSP_CALLBACK_ADDRESS: "http://virtual-connector:8282/api/protocol"
    extra_hosts:
      - "host.docker.internal:host-gateway"

  keycloak:
    image: quay.io/keycloak/keycloak:25.0.2
    container_name: keycloak
    command: start-dev --import-realm
    volumes:
      - ./keycloak:/opt/keycloak/data/import
    environment:
      KEYCLOAK_ADMIN: admin
      KEYCLOAK_ADMIN_PASSWORD: admin
    ports:
      - "8080:8080"
